---
import GithubLink from '../components/GithubLink.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portafolio">
	<main>
		<h1>😅 Aun en desarrollo..</h1>
		<p>Mientras puedes visitar mi perfil de Github</p>
		<GithubLink />
	</main>
</Layout>

<style>
	main {
		height: 100vh;
		width: 100%;
		margin-left: 20%;
		margin-right: 20%;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.gh-link {
		text-decoration: none;
	}
</style>
