---
import Window from '../components/Window.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portafolio">
	<main class="cont-shell">
		<Window height="80%" width="90%">
			<article class="console-cont">
				<header>
					<p>madmti.github.io@admin</p>
				</header>
				<ul>
					<p>Ingrese "help" para ver los comandos disponibles</p>
				</ul>
				<footer>
					<p>$</p>
					<input class="comand-line" type="text" />
				</footer>
			</article>
		</Window>
	</main>
</Layout>

<style>
	.cont-shell {
		height: 100vh;
		width: 100%;
		margin-left: 20%;
		margin-right: 20%;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.gh-link {
		text-decoration: none;
	}
	.console-cont {
		height: 100%;
		width: 100%;

		display: grid;
		grid-template-rows: 50px 1fr 50px;

		& header,
		footer {
			margin: 0;
			padding: 0;

			display: flex;
			flex-direction: row;
		}

		& ul {
			margin: 0;
			padding: 0;

			overflow: hidden auto;
		}
	}

	.comand-line {
		width: 100%;
		padding-left: 1rem;

		border: 0;
		outline: 0;

		color: var(--md-primary);
		background-color: transparent;

		font-size: large;
		font-weight: 500;
	}
</style>
