---

---

<nav class="secondary-surface">
	<h3>Hecho con <img src="/icons/astro.svg" alt="Astro logo" />stro</h3>
	<div class="btn-wrap">
		<a href="#about">Sobre mí</a>
		<a href="#projects">Proyectos</a>
		<a href="#contact">Contacto</a>
	</div>
</nav>

<style>
	nav {
		width: calc(100% - 42px);
		padding: 0px 21px 0px 21px;

		display: flex;
		justify-content: space-between;
	}

	nav img {
		height: 24px;
		vertical-align: middle;
	}

	nav .btn-wrap {
		display: flex;
		align-items: center;
		gap: 24px;
	}

    nav a {
        font-weight: 600;
        color: var(--on-secondary-surface);
        text-decoration: none;
    }
</style>
