---

---

<section class="secondary-surface" id="projects">
	<div class="top-wrap">
		<h1>Proyectos</h1>
		<a href="/projects">
			ver más
			<img
				src="/icons/arrow.svg"
				alt="See more icon button"
			/>
		</a>
	</div>
</section>

<style>
	#projects {
		width: calc(100% - 42px);
		display: flex;
		flex-direction: column;
		gap: 42px;

		padding: 0px 21px;
	}

	.top-wrap {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.top-wrap a {
		font-weight: 600;
		color: var(--on-secondary-surface);
		text-decoration: none;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
	}

    .top-wrap img {
        height: 24px;
        width: 24px;
    }
</style>
