---
interface Props {
	title: string;
}
import { HEIGTH } from '../public.env.d';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
			rel="stylesheet"
		/>

		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global define:vars={{ hh: HEIGTH }}>
	:root {
		/* Primary Colors */
		--md-primary: #00ff41;
		--md-on-primary: #000000;
		--md-primary-container: #003d1a;
		--md-on-primary-container: #a7ffc4;

		/* Secondary Colors */
		--md-secondary: #1c1c1c;
		--md-on-secondary: #e0e0e0;
		--md-secondary-container: #333333;
		--md-on-secondary-container: #b5b5b5;

		/* Background Colors */
		--md-background: #0d0d0d;
		--md-on-background: #00ff41;

		/* Surface Colors */
		--md-surface: #121212;
		--md-on-surface: #00ff41;
	}

	* {
		font-family: 'Source Code Pro', monospace;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
	}

	html,
	body {
		height: var(--hh) px;
		width: 100%;

		margin: 0;
		padding: 0;

		display: flex;
		flex-direction: column;
		align-items: center;

		color: var(--md-on-surface);
		background-color: var(--md-surface);
	}

	::-webkit-scrollbar {
		display: none;
	}
</style>
